* {
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
}

body {
    box-sizing: border-box;
}

#bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: black;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.5);
    transition: opacity 1.5s ease-in-out;
}

.next {
    opacity: 0;
}

.container {
    width: 100%;
    height: 100vh;
    color: white;
}
.container .nav {
    display: flex;
    align-items: center;
    padding: 4px;
}
.container .nav .left {
    display: flex;
    align-items: center;
}
.container .nav .left img {
  width: 150px;
  filter: grayscale(1);
}
.container .nav .left h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.container .nav .right {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 50px;
}

.container .nav .right ul {
    display: flex;
    list-style-type: none;   
    gap: 30px;
    text-align: left;
}
.container .nav .right ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    transition: color 0.3s ease;
}

.container .content {
    font-size: 2rem;
    line-height: 0.9;
    margin-top: 20px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.container .content img {
    width: 260px;
    margin-top: 20px;
}

.container .content.hidden {
    opacity: 0;
}
